html {
    min-height: 100%;
}

body {
    width: 800px;
    margin: auto;
    font-family: "Berkshire Swash";
    background-image: linear-gradient(180deg, #e3a1a1, #e3a1a1, #e3434b);
}

#header-img {
    width: 70px;
    display: flex;
}

#nav-bar {
    width: 800px;
    position: fixed;
    display: flex;
    background-color: #e3a1a1;
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin: 0px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #32276a;
    font-size: 22px;
}

#servico {
    width: 800px;
}

#video {
    display: block;
    padding: 100px 0 0;
    margin: auto;
}

#email {
    display: block;
    margin: auto auto 10px auto;
    width: 50%;
    border: none;
    padding: 10px;
}

#submit {
    display: block;
    margin: auto;
    border: none;
    padding: 12px;
    text-align: center;
}

#valores {
    height: 700px;
}

#contato {
    margin: 10px;
}

footer {
    color: white;
    background-color: black;
    height: 50px;
    font-family: "Open Sans";
    font-size: 12px;
    text-align: center;
    padding: 10px;
    margin: 30px 0 0;
}