html {
    min-height: 100%;
}

:root {
    --prussian-blue: hsla(201, 100%, 14%, 1);
    --maximum-red: hsla(0, 69%, 50%, 1);
    --orange: hsla(31, 100%, 48%, 1);
    --maximum-yellow-red: hsla(40, 97%, 64%, 1);
    --lemon-meringue: hsla(51, 55%, 82%, 1);
}

body {
    width: 800px;
    margin: auto;
    font-family: "Berkshire Swash";
    background-color: var(--maximum-yellow-red);
}

#header-img {
    width: 120px;
    display: flex;
}

#nav-bar {
    width: 800px;
    position: fixed;
    display: flex;
    background-color: var(--maximum-yellow-red);
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin: 0px 15px;
    text-decoration: none;
    font-weight: bold;
    color: var(--prussian-blue);
    font-size: 26px;
}

a:hover {
    color: var(--maximum-red);
}

#servico {
    width: 800px;
}

#video {
    display: block;
    padding: 100px 0 0;
    margin: auto;
}

#email-box {
    border: none;
    width: 60%;
    padding: 10px;
}

#submit {
    border: none;
    text-align: center;
    height: 35px;
}

#valores {
    background-color: var(--orange);
    margin: 30px auto;
}

table {
    margin: auto;
    border: solid 5px black;
    border-radius: 5px;
}

td {
    margin: 10px;
    width: 50px;
    border: solid 5px black;
}

#form {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
}

footer {
    color: white;
    height: 50px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 30px 0 0;
}

footer a {
    text-decoration: none;
    color: white;
}