html {
    min-height: 100%;
    scroll-behavior: smooth;
}

:root {
    --prussian-blue: hsla(201, 100%, 14%, 1);
    --maximum-red: hsla(0, 69%, 50%, 1);
    --orange: hsla(31, 100%, 48%, 1);
    --maximum-yellow-red: hsla(40, 97%, 64%, 1);
    --lemon-meringue: hsla(51, 55%, 82%, 1);
}

body {
    margin: auto;
    font-family: "Nunito", sans-serif;
    /* old font: "Berkshire Swash"*/
    background-color: black;
}

h1 {
    margin: 0;
    padding-top: 50px;
    text-align: center;
}

#header-img {
    padding-left: 20px;
    width: 80px;
    display: flex;
    z-index: 2;
}

#nav-bar {
    z-index: 2;
    width: 100%;
    position: fixed;
    display: flex;
    background-color: var(--maximum-yellow-red);
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
    box-shadow: -1px 1px 10px #777777, 1px 1px 10px #777777;
}

nav a {
    margin: 0px 15px;
    text-decoration: none;
    font-weight: bold;
    color: var(--prussian-blue);
    font-size: 26px;
}

a:hover {
    color: var(--maximum-red);
}

#servico {
    width: 100%;
    padding: 125px 0 25px;
    background-color: #e5e5f7;
    opacity: 1;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, var(--maximum-yellow-red) 0, var(--maximum-yellow-red) 1px, var(--maximum-yellow-red) 0, var(--lemon-meringue) 50%);
}

.descricao {
    width: 800px;
    margin: auto;
    padding-bottom: 40px;
    border-radius: 5px;
    color: var(--prussian-blue);
    background-color: hsla(51, 55%, 82%, 1);
    border: solid var(--maximum-yellow-red) 1px;
}

.descricao p {
    text-align: justify;
    padding: 0 50px;
}

#email-box {
    border: none;
    width: 60%;
    padding: 10px;
}

#submit {
    border: none;
    text-align: center;
    height: 35px;
}

#valores {
    background-color: var(--prussian-blue);
    width: 100%;
    margin: auto;
    padding: 60px 0;
}

.set {
    display: flex;
}

@media (min-width: 641px) {
    .set {
        margin: auto;
        width: 800px;
    }

    #email-box {
        width: 30%;
    }
}

#header-burger {
    display: none;
    width: 0;
}

@media (max-width: 800px) {
    .set, .descricao {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    #nav-bar {
        justify-content: space-between;
        font-size: 30px;
    }

    #form {
        width: 100%;
        padding: 0;
    }

    .card {
        width: 60%;
    }

    #header-img {
        padding-right: 10px;
    }

    #header-burger {
        display: inline;
        width: 50px;
    }

    .links-container {
        margin-right: 15px;
        text-align: center;
    }

    .links-container a {
        display: none;
        font-size: 1.25em;
        padding: 0;
        text-align: center;
    }

    .links-container-2 {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 30px;
        height: 140px;
        top: 90px;
        width: 100%;
        overflow: hidden;
        background-color: var(--maximum-yellow-red);
        transition: all 0.4s ease-in-out;
    }

    .links-container-2 a {
        color: var(--prussian-blue);
        text-decoration: none;
        padding: 40px auto;
    }

    .hide {
        height: 0;
    }
}

.card {
    font-weight: bold;
    padding: 15px;
    background-image: linear-gradient(45deg, #BBBBBB, #FFFFFF);
    margin: 30px;
    border-radius: 10px;
    border: 1px solid #999999;
    text-align: center;
    box-shadow: -1px 1px 10px #777777, 1px 1px 10px #777777;
}

.card button {
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 80%;
}

.card:hover {
    box-shadow: -1px 1px 10px cyan, 1px 1px 10px magenta;
    transition: all 0.2s ease-in-out;
}

.card h2 {
    color: var(--prussian-blue);
}

#form {
    display: flex;
    justify-content: center;
    width: 80%;
    flex-wrap: nowrap;
}

#form button {
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--maximum-red);
}

#contato {
    justify-content: center;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: var(--orange);
    height: 130px;
}

.footer {
    background-color: var(--orange);
    color: white;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    margin: 0;
}

.btn1:hover {
    transition: all 0.2s ease-in-out;
    background-image: linear-gradient(45deg, #CD7F32, white, #A57164);
    box-shadow: -1px 1px 10px #777777, 1px 1px 10px #777777;
    transition: all 0.2s ease-in-out;
}

.btn2:hover {
    background-image: linear-gradient(45deg, #C0C0C0, white, #777777);
    box-shadow: -1px 1px 10px #777777, 1px 1px 10px #777777;
    transition: all 0.2s ease-in-out;
}

.btn3:hover {
    background-image: linear-gradient(45deg, #FFD700, white, #d4af37);
    box-shadow: -1px 1px 10px #777777, 1px 1px 10px #777777;
    transition: all 0.2s ease-in-out;
}

.pgsmagno {
    color: var(--prussian-blue);
    text-decoration: none;
    font-size: 18px;
}